@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: 'Lato', sans-serif;
    @apply bg-slate-200
  }
  body {
    min-height: 800px
  }
  #root-dice-game, .root-dice-game {
    height: calc(100vw / 16 * 9);
    width: calc(100vw - 30px);
    margin: 15px auto;
    max-width: 1024px;
    max-height: calc(1024px / 16 * 9);
    min-width: 764px;
    min-height: calc(764px / 16 * 9);
    font-family: 'Lato', sans-serif;
    @apply bg-gray-100 flex shadow-xl font-light text-gray-600 flex-nowrap justify-center relative select-none
  }

  .player {
    @apply flex flex-col w-1/2 text-center uppercase justify-center h-full bg-slate-50 transition-colors
  }

  .player .player-name {
    @apply font-thin relative
  }

  .player.active {
    @apply bg-transparent
  }

  .player.active .player-name {
    @apply font-light
  }

  .player.active .player-name::after {
    content: '';
    top: calc(50% - 13px/2);
    transform: translateX(20px);
    @apply absolute bg-rose-500 rounded-full h-[13px] w-[13px]
  }

  #game-cmd {
    @apply flex flex-col justify-center w-1/4 absolute top-0 h-full text-center uppercase text-xl pb-24 select-none
  }

  .scene {
    width: 80px;
    height: 80px;
    perspective: 600px;
    @apply m-auto my-20 shadow-lg
  }
  
  .dice {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .dice__face {
    position: absolute;
    width: 80px;
    height: 80px;
    @apply bg-slate-50
  }

  .dice svg {
    fill: rgb(244 63 94);
  }

  .dice__face--front  { transform: rotateY(  0deg) translateZ(40px); }
  .dice__face--right  { transform: rotateY( 90deg) translateZ(40px); }
  .dice__face--back   { transform: rotateY(180deg) translateZ(40px); }
  .dice__face--left   { transform: rotateY(-90deg) translateZ(40px); }
  .dice__face--top    { transform: rotateX( 90deg) translateZ(40px); }
  .dice__face--bottom { transform: rotateX(-90deg) translateZ(40px); }

  .icon-text {
    display: flex;
    @apply justify-center
  }

  .icon {
    @apply w-11
  }

  .icon svg {
    fill: rgb(244 63 94);
    @apply h-7
  }
}